name: Deploy to Int with Manual Approval

on:
  workflow_run:
    workflows: ["Build and Deploy Dev"]
    branches:
      - main


jobs:
  deploy-int:
    runs-on: ubuntu-latest
    environment:
      name: 'int'
      if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout github repository
        uses: actions/checkout@v3
      
      - name: Deploy to Int
        run: echo "Deploy to Int"