name: Deploy to Prd with Manual Approval

on:
  workflow_run:
    workflows: ["Deploy to Int with Manual Approval"]
    branches:
      - main


jobs:
  deploy-int:
    runs-on: ubuntu-latest
    environment:
      name: 'prd'
      if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout github repository
        uses: actions/checkout@v3
      
      - name: Deploy to Prd
        run: echo "Deploy to Prd"